/CodeAnalysis.class
/GUI$1.class
/GUI.class
/Reflectoras.class
/Jary.class
/ClassReader.class
/Decomposer.class
/ClassInfo.class
/Evaluator.class
/Main.class
/Main$1.class
/MainGUI.class
/EvaluationGUI.class
